/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	background-color:#faeeba;
	font-family:system-ui;
}


#container {
	width:90%;
	margin:auto;
}



figure {
	margin:0px;
}

figure img {
	width:100%;
}

nav section {
	border:1px solid black;
	margin-bottom:15px;
	padding:5px;
}

.mobile {
	background:yellow;
}

.desktop {
	display:none;
}

#Rose-Tteokbokki {
	background:#f38ca1;
	padding:20px; 
}

#Jajangmyeon {
	background:#4d0013;
	padding:20px;
	color:white;
}

#SnowOnion {
	background:#fffbf1;
	padding:20px;
}

#Kimbap {
	background:#1f7942;
	padding:20px;
	color:white;
}

#Ramen {
	background:#cc0000;
	padding:20px;
	color:white;
}

#Bibimbap {
	background:#19a499;
	padding:20px;
}



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	figure {
		width:60%;
		padding-left:20%;
		padding-top:5px;
	}
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {

	#container {
		width:80%;
	}

/*
	nav {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}

	nav section {
		flex:0 1 48%;
	}
*/	

	nav {
		display:grid;
		grid-template-columns:auto auto;
		column-gap:15px;
	}

	figure {
		width:100%;
		padding:0px;
	}


	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	

	.mobile {
		display:none;
	}

	.desktop {
		display:block;
		width:100%;
	}

/*
	nav section {
		flex: 0 1 32%;
	}
	
*/	

	nav {
		/* grid-template-columns:auto auto auto; */
		grid-template-columns:repeat(3, 1fr);
	}

	.Rose {
		width:30%;
	}

	.cheesetteokbokki {
		width:30%;
	}

	.Rose2 {
		width:39%;
	}

	.beannoodle1 {
		width:30%;
	}

	.beannoodle2 {
		width:26.5%;
	}

	.beannoodle3 {
		width:42.5%;
	}

	.snowonion1 {
		width:28%;
	}

	.snowonion2 {
		width:35.5%;
	}

	.snowonion3 {
		width:35.5%;
	}

	.kimbap1 {
		width:34%;
	}

	.kimbap2 {
		width:30.2%;
	}

	.kimbap3 {
		width:34.2%;
	}

	.ramen1 {
		width:30%;
	}

	.ramen2 {
		width:33%;
	}

	.ramen3 {
		width:36%;
	}

	.bibimbap1 {
		width:30%;
	}

	.bibimbap2 {
		width:30%;
	}

	.bibimbap3 {
		width:39%;
	}


} /* closes 1024px+ */





