/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	background-color:#CFA379;
	
}


#container {
	padding: 10px;
}

#navbar {
	position:sticky;
	top:0;
	overflow:hidden;
	background-color:white;
}

#navbar a {
	float:left;
	display:block;
	color:#f2f2f2;
	padding:14px;
	text-decoration:none;
}

.content {
	padding:16px;
}

button:hover {
	background-color:#533833;
	color:#F4EDE7;
}


.Cassybutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#FFEA9F;
  color:#533833;
  font-family:Palatino;
}

.Kikibutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#D4EFFC;
  color:#533833;
  font-family:Palatino;
}

.Poppybutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#FAD1E3;
  color:#533833;
  font-family:Palatino;
}

.Lottiebutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#CFA379;
  color:#533833;
  font-family:Palatino;
}

.Chobibutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#D7B9D9;
  color:#533833;
  font-family:Palatino;
}

#LottiePersonal {
	display: flex;
	flex-direction: column;
	margin:auto;
	column-count:2;
}

.Personal {
	display:grid;
	align-items:center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap:5px;
	padding-top:10px;
}
/* Why is Cassy and the text so close together?? */

/* Might have to crop the images?? The border is too big ;-; */
img {
	max-width: 100%;
	max-height: 100%;
	padding-top:10px;
	background-color: white;
	border:solid #78481F 2px;
	border-radius: 8px;
}

text {
	font-size:70px;
	background-color:white;
}

div.text {
	background-color: white;
	padding-left:20px;
	border:dashed #78481F 2px;
	border-radius: 8px;
}

div.text2 {
	background-color: white;
	padding:10px 5px 10px 15px;
	border:dashed #78481F 2px;
	border-radius: 8px;
}

#LottieRep {
	background-color: white;
	padding:0px 10px;
	border:dashed #78481F 2px;
	border-radius: 8px;
}

#LottieBio {
	background-color: white;
	padding:0px 10px;
	border:solid #78481F 2px;
	border-radius: 8px;
}

/* Try to link Lottie's image, like, make it linkable. Is that in html?? */
#Lottie1 {

}

footer {
	padding-left:10px;
	padding-bottom:1px;
}



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for portrait tablets and large phone screens.  */
@media all and (min-width: 600px) {
	
	
	
	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 768px) {
	
div#container {
	width: 700px;
	margin: auto;
}	
	
	
} /* closes 768px+ */



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 992px) {
	
div#container {
	width:950px;
}
	
	
	
} /* closes 992px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
	
	
	
} /* closes 1200px+ */



